apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/whyredfire/ss-backend:ee260c0a37b931f9e010fe7b8db80a8514fe4597
          ports:
            - containerPort: 8000
          env:
            - name: DB_CONNECTION
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: DB_CONNECTION
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: JWT_SECRET
            - name: PASS_SALT
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: PASS_SALT
