apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/whyredfire/ss-backend:a3ed3c716ad8c04aac59759c19440ab86c670183
          ports:
            - containerPort: 8000
          env:
            - name: DB_CONNECTION
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: DB_CONNECTION
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: JWT_SECRET
            - name: PASS_SALT
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: PASS_SALT
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
