services:
  backend:
    container_name: ss-backend
    build:
      context: backend
    environment:
      DB_CONNECTION: "mongodb://mongodb:27017"
    develop:
      watch:
        - action: rebuild
          path: backend
    ports:
      - 8000:8000
    volumes:
      - ./nltk_data:/root/nltk_data

  frontend:
    container_name: ss-frontend
    build:
      context: frontend
    develop:
      watch:
        - action: rebuild
          path: frontend
    ports:
      - 3000:8080
    depends_on:
      - backend

  caddy:
    container_name: ss-caddy
    image: caddy:alpine
    ports:
      - 80:80
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - backend
      - frontend

  mongodb:
    container_name: ss-mongodb
    image: mongo:latest
    volumes:
      - ./mongodb_data:/data/db
    depends_on:
      - backend
