apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ss-mongodb
  namespace: scriptscribe
spec:
  serviceName: ss-mongodb
  replicas: 1
  selector:
    matchLabels:
      app: ss-mongodb
  template:
    metadata:
      labels:
        app: ss-mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:8-noble
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: data
              mountPath: /data/db
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 500Mi
