blinker==1.8.2
cffi==1.16.0
click==8.1.7
cryptography==43.0.1
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==4.0.2
fpdf==1.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
nltk==3.9
packaging==24.0
pillow==10.3.0
pycparser==2.22
PyJWT==2.8.0
pymongo==4.7.2
pytesseract==0.3.10
regex==2024.4.28
tqdm==4.66.4
Werkzeug==3.0.6
