* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	background-color: #f5f5f5;
	color: #333;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header,
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.branding {
	flex: 1;
}

.avatar {
	display: flex;
	align-items: center;
}

#showUsername,
#logout {
	margin-left: 10px;
}

#logout {
	cursor: pointer;
	padding: 8px;
	margin-right: 20px;
}

footer {
	margin-top: auto;
}

.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 0 20px;
}

h2 {
	color: #333;
}

p {
	margin-bottom: 1em;
}

input[type="file"],
textarea {
	width: 100%;
	padding: 12px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #fff;
	transition: border-color 0.3s ease-in-out;
}

input[type="file"]:hover,
textarea:hover,
input[type="file"]:focus,
textarea:focus {
	border-color: #007bff;
}

button {
	display: inline-block;
	padding: 12px 24px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	background-color: #0056b3;
}

.hidden {
	display: none;
}

.auth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	height: 70vh;
}

#authSection {
	width: 400px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

#authSection h2 {
	margin-bottom: 20px;
}

#authForm {
	display: flex;
	flex-direction: column;
}

#authForm input {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.auth-buttons {
	display: flex;
	justify-content: space-around;
}

#extractionPage h2 {
	margin-top: 25px;
}

.export-options h2 {
	margin-bottom: 10px;
}

.slidecontainer {
	margin-top: 20px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}
